.titlePage {
    font-size: 30px;
}

.links {
    text-decoration: none;
    color: black;
}

.cards {
    text-align: center;
    margin: 15px;
    height: auto;
    background-color: rgb(246, 246, 246);
}

.cardText {
    font-size: 15px;
    font-style: italic;
}